/* Цвет лого в хедере #000000  */
/* Цвет основного текста #757575  */
/* Вторичный цвет текста #212121  */
/* Акцент #2196F3  */
/* Белый цвет #FFFFFF */
/* Цвет контактов в футере rgba(255, 255, 255, 0.6) */
/* Основной цвет фона #F5F5F5 */
/* Вторичный цвет фона #F5F4FA */
/* Цвет Hero #2F303A */
:root {
	--prymary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
}
body {
	background-color: #f5f5f5;
	color: var(--prymary-text-color);
}
.logo {
	color: #000000;
}
.logo-part {
	color: var(--accent-color);
}
.list {
	list-style: none;
}
/* Site nav */
.site-nav .link {
	color: var(--title-text-color);
}
.header-contacts .link {
	color: var(--prymary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-contacts .link:hover,
.footer-contacts .link:focus {
	color: #2196f3;
}

.hero {
	background-color: #2f303a;
}
.hero-title {
	color: #ffffff;
}
.hero-button {
	background: #2196f3;
	color: #ffffff;
}
.section-title {
	color: var(--title-text-color);
}
.footer {
	background: #2f303a;
}
.footer-logo {
	color: #ffffff;
}
.footer-address {
	color: #ffffff;
}
.footer-contacts .link {
	color: rgba(255, 255, 255, 0.6);
}
.button {
  color: var(--title-text-color);
  background: #F5F4FA;
}
